<?xml version="1.0" encoding="UTF-8"?>
<!--DTD 선언-->
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="artist">
	<select id="selectList" resultType="ArtistDto">
		select * from artist
		order by artist_no asc
	</select>
	<select id="sequence" resultType="int">
		select artist_seq.nextval from dual
	</select>
	<insert id="regist">
		insert into artist(
			artist_no, artist_name, artist_description, artist_history,
			artist_birth, artist_death
		) values(
			#{artistNo},#{artistName},#{artistDescription},
			#{artistHistory},#{artistBirth},#{artistDeath}
		)
	</insert>
	<update id="update">
		update artist 
		<set>
			<if test="artistName!=null">artist_name = #{artistName},</if>
			<if test="artistDescription!=null">artist_description = #{artistDescription},</if>
			<if test="artistHistory!=null">artist_history = #{artistHistory},</if>
			<if test="artistBirth!=null">artist_birth = #{artistBirth},</if>
			<if test="artistDeath!=null">artist_death = #{artistDeath},</if>
		</set>
		where artist_no = #{artistNo}
	</update>
	<delete id="delete">
		delete artist
		where artist_no=#{artistNo}
	</delete>
</mapper>