<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="auction">
	<select id="sequence" resultType="int">
		select auction_seq.nextval from dual
	</select>
	<insert id="add">
	insert into auction(
		auction_no,
		auction_schedule_no,
		work_no,
		auction_lot,
		auction_low_price,
		auction_high_price,
		auction_state,
		auction_consigner,
		auction_consignment_fee,
		auction_start_price,
		auction_bid_price,
		auction_bid_increment
	)
	values(
		#{auctionNo},
		#{auctionScheduleNo},
		#{workNo},
		<if test="auctionLot == null or auctionLot == ''">(SELECT COALESCE(MAX(auction_lot), 0) + 1 FROM auction WHERE auction_schedule_no = #{auctionScheduleNo}),</if>
		<if test="auctionLot != null and auctionLot != ''">#{auctionLot},</if>
		#{auctionLowPrice},
		#{auctionHighPrice},
		#{auctionState},
		#{auctionConsigner},
		#{auctionConsignmentFee},
		#{auctionStartPrice},
		#{auctionStartPrice},
		#{auctionBidIncrement}
	)
	</insert>

	<update id="update">
		update auction 
		<set>
			<if test="auctionScheduleNo>0">auction_schedule_no=#{auctionScheduleNo},</if>
			<if test="workNo>0">work_no=#{workNo},</if>
			<if test="auctionSuccessBidder!=null">auction_success_bidder=#{auctionSuccessBidder},</if>
			<if test="auctionLot>0">auction_lot=#{auctionLot},</if>
			<if test="auctionLowPrice > 0">auction_low_price=#{auctionLowPrice},</if>
			<if test="auctionHighPrice>0">auction_high_price=#{auctionHighPrice},</if>
			<if test="auctionStartDate!=null">auction_start_date=#{auctionStartDate},</if>
			<if test="auctionEndDate!=null">auction_end_date=#{auctionEndDate},</if>
			<if test="auctionState!=null">auction_state=#{auctionState},</if>
			<if test="auctionConsigner!=null">auction_consigner=#{auctionConsigner},</if>
			<if test="auctionConsignmentFee>0">auction_consignment_fee=#{auctionConsignmentFee},</if>
			<if test="auctionNetProceeds>0">auction_net_proceeds=#{auctionNetProceeds},</if>
			<if test="auctionBidPrice>0">auction_bid_price=#{auctionBidPrice},</if>
			<if test="auctionBidIncrement>0">auction_bid_increment=#{auctionBidIncrement},</if>
			<if test="auctionBidCnt==null or auctionBidCnt==0">auction_bid_cnt=1</if>
			<if test="auctionBidCnt>0">auction_bid_cnt=auction_bid_cnt+1</if>
		</set>
		where auction_no=#{auctionNo}
	</update>
	
	<select id="list" resultType="AuctionDto">
		select * from auction order by auction_no asc
	</select>
	<select id="detail" resultType="AuctionDto">
		select * from auction where auction_no=#{auctionNo}
	</select>
	<delete id="delete">
		delete auction where auction_no=#{auctionNo}
	</delete>
	<select id="sceduleList" resultType="AuctionDto">
		select * from auction where auction_schedule_no = #{auctionScheduleNo} order by auction_no asc
	</select>
	<select id="scheduleListOrderByLot" resultType="AuctionLotVO">
		SELECT 
			A.AUCTION_NO,A.AUCTION_LOT,A.AUCTION_STATE,W.work_title,W.WORK_MATERIALS ,W.WORK_CATEGORY 
		FROM 
			work W
		INNER JOIN 
			auction A 
		ON 
			W.work_no = A.work_no
		WHERE A.AUCTION_SCHEDULE_NO = #{auctionScheduleNo}
		order by A.AUCTION_NO asc
	</select>
	<update id="cancelPresent">
		update auction set auction_state='출품취소' where auction_no = #{auctionNo}
	</update>
	<update id="uncancelPresent">
		update auction set auction_state='예정경매' where auction_no = #{auctionNo}
	</update>
	<select id="selectAuctionWithWork" resultType="AuctionLotDetailVO">
		select 
			* 
		from
			work W 
		inner join auction AU 
		on W.work_no = AU.work_no 
		inner join artist AR 
		on W.artist_no = AR.artist_no 
		where AU.AUCTION_NO =#{auctionNo}
	</select>
	<select id="selectOneByBidPrice" resultType="int">
		select count(*) from auction
		where auction_no=#{auctionNo} and auction_bid_price=#{auctionBidPrice}
	</select>

</mapper>