<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="auction">
	<select id="sequence" resultType="int">
		select auction_seq.nextval from dual
	</select>
	<insert id="add">
    insert into auction(
        auction_no,
        auction_schedule_no,
        work_no,
        auction_lot,
        auction_low_price,
        auction_high_price,
        auction_state,
        auction_consigner,
        auction_consignment_fee,
        auction_start_price,
        auction_bid_price,
        auction_bid_increment,
        auction_start_date,
        auction_end_date
    )
    values(
        #{auctionNo},
        #{auctionScheduleNo},
        #{workNo},
        <if test="auctionLot == null or auctionLot == ''">
            (SELECT COALESCE(MAX(auction_lot), 0) + 1 FROM auction WHERE auction_schedule_no = #{auctionScheduleNo}),
        </if>
        <if test="auctionLot != null and auctionLot != ''">
            #{auctionLot},
        </if>
        #{auctionLowPrice},
        #{auctionHighPrice},
        #{auctionState},
        #{auctionConsigner},
        #{auctionConsignmentFee},
        #{auctionStartPrice},
        #{auctionStartPrice},
        #{auctionBidIncrement},
        #{auctionStartDate},
        <if test="auctionLot == null or auctionLot == ''">
            #{auctionEndDate} + NUMTODSINTERVAL(ROUND((SELECT COALESCE(MAX(auction_lot), 0) + 1 FROM auction WHERE auction_schedule_no = #{auctionScheduleNo}) / 10,0) * 5, 'MINUTE')
        </if>
        <if test="auctionLot != null and auctionLot != ''">
            #{auctionEndDate} + NUMTODSINTERVAL(ROUND(#{auctionLot} / 10,0) * 5, 'MINUTE')
        </if>
    )
</insert>

	<!-- 이미지 연결 -->
	<insert id="connect" parameterType="map">
		insert into work_image(
			attachment,
			work
		) 
		values(
			#{attachment}, 
			#{work} 
		)
	</insert>

	<update id="update">
		update auction 
		<set>
			<if test="auctionScheduleNo>0">auction_schedule_no=#{auctionScheduleNo},</if>
			<if test="workNo>0">work_no=#{workNo},</if>
			<if test="auctionSuccessBidder!=null">auction_success_bidder=#{auctionSuccessBidder},</if>
			<if test="auctionLot>0">auction_lot=#{auctionLot},</if>
			<if test="auctionLowPrice > 0">auction_low_price=#{auctionLowPrice},</if>
			<if test="auctionHighPrice>0">auction_high_price=#{auctionHighPrice},</if>
			<if test="auctionStartDate!=null">auction_start_date=#{auctionStartDate},</if>
			<if test="auctionEndDate!=null">auction_end_date=#{auctionEndDate},</if>
			<if test="auctionState!=null">auction_state=#{auctionState},</if>
			<if test="auctionConsigner!=null">auction_consigner=#{auctionConsigner},</if>
			<if test="auctionConsignmentFee>0">auction_consignment_fee=#{auctionConsignmentFee},</if>
			<if test="auctionNetProceeds>0">auction_net_proceeds=#{auctionNetProceeds},</if>
			<if test="auctionBidPrice>0">auction_bid_price=#{auctionBidPrice},</if>
			<if test="auctionBidIncrement>0">auction_bid_increment=#{auctionBidIncrement},</if>
			<if test="auctionBidCnt==null or auctionBidCnt==0">auction_bid_cnt=1</if>
			<if test="auctionBidCnt>0">auction_bid_cnt=auction_bid_cnt+1</if>
		</set>
		where auction_no=#{auctionNo}
	</update>
	
	<select id="list" resultType="AuctionDto">
		select * from auction order by auction_no asc
	</select>
	<select id="detail" resultType="AuctionDto">
		select * from auction where auction_no=#{auctionNo}
	</select>
	<delete id="delete">
		delete auction where auction_no=#{auctionNo}
	</delete>
	<select id="sceduleList" resultType="AuctionDto">
		select * from auction where auction_schedule_no = #{auctionScheduleNo} order by auction_no asc
	</select>
	
	<!-- 출품목록 불러오기(이미지x)-->
	<select id="auctionListOrderByLot" resultType="AuctionLotVO">
		SELECT 
			A.AUCTION_NO,
			A.AUCTION_LOT,
			A.AUCTION_STATE,
			W.work_title,
			W.WORK_MATERIALS,
			W.WORK_CATEGORY 
		FROM 
			work W
		INNER JOIN 
			auction A 
		ON 
			W.work_no = A.work_no
		WHERE A.AUCTION_SCHEDULE_NO = #{auctionScheduleNo}
		order by A.AUCTION_LOT asc
	</select>
	
	<!-- 출품목록 불러오기(이미지포함)-->
	<select id="auctionLotListOrderByLot" resultType="AuctionLotListVO">
	<![CDATA[
	    SELECT 
	        A.auction_no, 
	        A.auction_lot, 
	        A.auction_state, 
	        A.auction_low_price, 
	        A.auction_high_price, 
	        A.auction_end_date, 
	        W.work_title, 
	        W.work_size, 
	        W.work_materials, 
	        W.work_category, 
	        WI.attachment 
	    FROM 
	        auction A 
	        JOIN work W ON A.work_no = W.work_no 
	        left JOIN work_image WI ON W.work_no = WI.work 
	    WHERE 
	        A.auction_schedule_no = #{auctionScheduleNo} 
	    ORDER BY 
	        A.auction_lot ASC
    ]]>
	</select>
	
	<select id="ScheduleInfo" resultType="AuctionScheduleInfoVO">
		select 
			auction_schedule_title, 
			auction_schedule_end_date 
		from 
			auction_schedule 
		where 
			auction_schedule_no = #{auctionScheduleNo}
	</select>
	
	<select id="workImage" resultType="AuctionLotListVO">
		select * from (
			select 
				A.auction_no,
				A.work_no,
				WI.attachment
			From auction A 
				inner join work_image WI 
					on A.work_no = WI.work 
			)
		where auction_no = #{workNo}
	</select>
	
	
	<update id="cancelPresent">
		update auction set auction_state='출품취소' where auction_no = #{auctionNo}
	</update>
	<update id="uncancelPresent">
		update auction set auction_state='예정경매' where auction_no = #{auctionNo}
	</update>
	<select id="selectAuctionWithWork" resultType="AuctionLotDetailVO">
		select 
			* 
		from
			work W 
		inner join auction AU 
		on W.work_no = AU.work_no 
		inner join artist AR 
		on W.artist_no = AR.artist_no 
		where AU.AUCTION_NO =#{auctionNo}
	</select>
	<select id="selectOneByBidPrice" resultType="int">
		select count(*) from auction
		where auction_no=#{auctionNo} and auction_bid_price=#{auctionBidPrice}
	</select>
	<update id="changeStateProgress">
		update 
			auction
		set
			auction_state='진행경매'
		where
			auction_no=#{auctionNo}
	</update>
	<update id="changeStateTerminated">
		update 
			auction
		set
			auction_state='종료경매'
		where
			auction_no=#{auctionNo}
	</update>
	<select id="selectListStarted" resultType="Integer">
		<![CDATA[ 
			select
				auction_no
			from
				auction
			where 
				auction_start_date<to_timestamp(
					#{time},
					'yyyy-mm-dd hh24:mi:ss'
				)
				and
				auction_state='진행경매'
		]]>
	</select>
	<select id="selectListTerminated" resultType="Integer">
		<![CDATA[ 
			select
				auction_no
			from
				auction
			where
				auction_end_date<to_timestamp(
					#{time},
					'yyyy-mm-dd hh24:mi:ss'
				)
				and
				auction_state='진행경매'
		]]>
	</select>
	<update id="statusToProgress">
		update
			auction
		set 
			auction_state='진행경매'
		where
			auction_schedule_no=#{auctionScheduleNo}
	</update>
</mapper>
