<?xml version="1.0" encoding="UTF-8"?>
<!--DTD 선언-->
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="deal">
	<select id="list" resultType="dealWorkVO">
	SELECT d.*, w.work_title, ar.artist_name
	FROM deal d
	JOIN bid b ON d.bid_no = b.bid_no
	JOIN auction a ON b.auction_no = a.auction_no
	JOIN work w ON a.work_no = w.work_no
	JOIN artist ar ON w.artist_no = ar.artist_no
	where deal_buyer=#{memberId} and d.deal_status='결제대기'
	</select>
	<select id="detail" resultType="dealDto">
		select * from deal where deal_no=#{dealNo}
	</select>
	<select id="detailVO" resultType="dealWorkVO">
		SELECT d.*, w.work_title, ar.artist_name
		FROM deal d
		JOIN bid b ON d.bid_no = b.bid_no
		JOIN auction a ON b.auction_no = a.auction_no
		JOIN work w ON a.work_no = w.work_no
		JOIN artist ar ON w.artist_no = ar.artist_no
		WHERE deal_no=#{dealNo}
	</select>
	<update id="updateStatus">
	update deal set deal_status = '낙찰포기', deal_cancel_time = SYSDATE where deal_no=#{dealNo}
	</update>
	<update id="updateStatusSuccess">
	update deal set deal_status = '결제완료' where deal_no=#{dealNo}
	</update>
	
	<select id="detailGG" resultType="dealWorkVO">
		SELECT d.*, w.work_title, ar.artist_name
	FROM deal d
	JOIN bid b ON d.bid_no = b.bid_no
	JOIN auction a ON b.auction_no = a.auction_no
	JOIN work w ON a.work_no = w.work_no
	JOIN artist ar ON w.artist_no = ar.artist_no
	where d.deal_status='낙찰포기'
	</select>
	<insert id="insert">
		insert into deal(
			deal_no,bid_no,deal_buyer,deal_time,deal_price,deal_status
		) 
		values(
			deal_seq.nextval,#{bidNo},#{dealBuyer},#{dealTime},#{dealPrice},#{dealStatus}
		)
	</insert>
	<insert id="insertByAuction">
		INSERT INTO deal (
		    deal_no, bid_no, deal_buyer, deal_time, deal_price, deal_status, deal_end_time
		)
		SELECT 
		    deal_seq.nextval, 
		    bid_no, 
		    auction_success_bidder, 
		    auction_end_date,      
		    auction_bid_price,             
		    '결제대기', 
		    SYSDATE + 7
		FROM (
		    SELECT * 
		    FROM auction a 
		    INNER JOIN bid b ON b.auction_no = a.auction_no 
		    WHERE a.auction_no = #{auctionNo}
		    ORDER BY b.bid_no DESC
		) 
		WHERE ROWNUM = 1
	</insert>
	<select id="dealList" resultType="dealWorkVO">
		SELECT * 
FROM (
	select 
    d.deal_no,
    d.deal_time,
    d.deal_price,
    SUBSTR(d.deal_buyer, 1, 4) || LPAD('*', LENGTH(d.deal_buyer) - 4, '*') AS deal_buyer,
    w.work_title,
    ar.artist_name
	FROM deal d
	JOIN bid b ON d.bid_no = b.bid_no
    JOIN auction a ON b.auction_no = a.auction_no
	JOIN work w ON a.work_no = w.work_no
	join artist ar on ar.artist_no = w.artist_no
    WHERE d.deal_time >= SYSDATE -14
    ORDER BY d.deal_time DESC  
) 
WHERE ROWNUM 
 <![CDATA[
<= 20
]]>
	</select>
	<update id="updateStatusCancel">
	update deal set deal_status = '결제취소' where deal_no=#{dealNo}
	</update>
</mapper>