<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0
//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="member">
	<insert id="insert">
		INSERT INTO member (
			member_id, member_pw, member_name,
			member_email, member_contact, member_post, 
			member_address1, member_address2
			
		) VALUES (
			#{memberId}, #{memberPw}, #{memberName}, 
			#{memberEmail}, #{memberContact}, #{memberPost},
			#{memberAddress1}, #{memberAddress2}
		)
	</insert>
	<update id="update">
    UPDATE member
    <set>
        <if test="memberPw != null">member_pw=#{memberPw},</if>
        <if test="memberName != null">member_name=#{memberName},</if>
        <if test="memberEmail != null">member_email=#{memberEmail},</if>
        <if test="memberContact != null">member_contact=#{memberContact},</if>
        <if test="memberPost != null">member_post=#{memberPost},</if>
        <if test="memberAddress1 != null">member_address1=#{memberAddress1},</if>
        <if test="memberAddress2 != null">member_address2=#{memberAddress2},</if>
    </set>
    WHERE member_id = #{memberId}
</update>

	<delete id="delete">
		delete member where member_id = #{memberId}
	</delete>
	<select id="find" resultType="MemberDto">
		select * from member where member_id = #{memberId}
	</select>
	<insert id="save">
	 insert into member (member_id, member_pw, member_email)
        values (#{memberId}, #{memberPw}, #{memberEmail})
	</insert>
	 <select id="findByToken" resultType="MemberTokenDto">
        select * from member_token WHERE token_value = #{tokenValue}
    </select>
     <insert id="saveToken">
        INSERT INTO member_token (token_no, token_target, token_value)
VALUES (member_token_seq.NEXTVAL, #{tokenTarget}, #{tokenValue})

    </insert>
        <delete id="deleteToken">
        delete from member_token WHERE token_value = #{tokenValue}
    </delete>
    
	
</mapper>